DATABASE_URL='postgresql://mydbpassword@localhost:5432'

GOOGLE_CLIENT_ID="example-google-client-id"
GOOGLE_CLIENT_SECRET="example-google-client-secret"

GITHUB_CLIENT_ID="example-github-client-id"
GITHUB_CLIENT_SECRET="example-github-client-secret"

NEXTAUTH_SECRET="nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"

NODE_ENV="development"

CLIENT_LLM_API_KEY="your-gemini-api-key-here"

CARTESIA_API_KEY="your-cartesia-api-key-here"

AWS_REGION="your-aws-region"
AWS_ACCESS_KEY_ID="your-aws-access-key"
AWS_SECRET_ACCESS_KEY="your-aws-secret-key"
AWS_S3_BUCKET_NAME="your-s3-bucket-name"

NEXT_PUBLIC_WS_SERVER_URL="ws://localhost:8080"