DATABASE_URL='postgresql://mydbpassword@localhost:5432'

GOOGLE_CLIENT_ID="example-google-client-id"
GOOGLE_CLIENT_SECRET="example-google-client-secret"

GITHUB_CLIENT_ID="example-github-client-id"
GITHUB_CLIENT_SECRET="example-github-client-secret"

NEXTAUTH_SECRET="nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"

NODE_ENV="development"